@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100svw;
}

.wrapper a {
    text-decoration: none;
}

.wrapper {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.wrapper .white-bgnd {
    background-color: white;
}

.wrapper .grad-bgnd {
    background: linear-gradient(173deg, #ffffff 60%, #104373 60%);
}

.wrapper .blue-bgnd {
    background-color: #104373;
    height: 100svh;
}

#logo {
    height: auto;
    display: flex;
    margin: auto;
    padding: 4svw;   
    width: 90svw; 
    justify-content: center;
}

.wrapper h1 {
    font-weight: 500;
    font-size: 6svw;
    color: #104373;
    text-align: center;
}

#break {
    display: inline;
}

#leaderboard-preview {
    height: auto;
    display: flex;
    margin: auto;
    padding: 4svw;
    width: 85svw;
}

.wrapper .bullets {
    display: flex;
    padding: 3svw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 6svw;
    gap: 1svh;
}

.wrapper .bullets .icon-wrapper {
    display: flex;
    background-color: white;
    border-radius: 50%;
    width: 10svw;
    height: 10svw;
    justify-content: center;
    align-items: center;
}

.wrapper .bullets .icon svg {
    fill:#104373;  
    width: 6svw;
    height: auto;
}

.wrapper .bullets .bullet {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .bullets .bullet-text {
    padding: 10px;
    font-weight: 300;
}

#CTA-button {
    margin: auto;
    cursor: pointer;
    height: auto;
    width: 80svw;
    outline: 0;
    display: block;
    font-weight: 700;
    text-align: center;
    background-color: white;
    border: 1px solid #104373;
    padding: 1.25svw;
    font-size: 6svw;
    border-radius: 0.5rem;
    color: #104373;
    border-color: #104373;
    text-decoration: none;
}

#CTA-button:hover {
    color: white;
    border-color: white;
    background-color: #104373;
}

/* wider screens (tablet+) */
@media (min-width: 435px) {
    #break {
        display: none;
    }

    #logo {
        padding: 1.2svw;
        width: 30svw;
    }

    .wrapper h1 {
        font-size: 2svw;
    }

    #leaderboard-preview {
        width: 35svw;
        padding: 10px;
    }
    
    .wrapper .bullets {
        gap: 3svw;
        flex-direction: row;
        font-size: 1.25svw;
        padding: 10px;
    }

    .wrapper .bullets .icon-wrapper {
        width: 3svw;
        height: 3svw;
    }
    .wrapper .bullets .icon svg {
        fill:#104373;  
        width: 1.7svw;
        height: auto;
    }    

    #CTA-button {
        width: 23svw;
        font-size: 2svw;
    }
}

